:root {
  --primary-background-color: #34C94B;
  --body-background-color: #121212;
  --text-background-color: #ffffff;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    background-color: black;
  }