.navbar{
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.63rem;
    width: 100vw;
    /* padding: 0px 32px; */
}