.searchContainer {
    display: flex;
    align-items: center;
    border-radius: 10px;
    
  }
  
  .searchInput {
    height: 2rem;
    width: 20rem;
    padding: 0.5rem;
  }
  
  .searchButton {
    padding: 5px;
    width: 50px ;
    cursor: pointer;
    height: 2rem;
  }
  
  .searchButton img {
    height: 60%;
    margin-left: auto;
    margin-right: auto;
  }